*{
    box-sizing: border-box;
}

body{
    background-color: #FAD41B;
    font-size: 20px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    margin-left: 5%;
    width: 90%;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5%;
    font-weight: 700;
    margin-top: 5%;
}

h2{
    margin-left: 15%;
    width: 90%;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5%;
    font-weight: 700;
    margin-top: 5%;
}

h3{
    margin-left: 5%;
    width: 90%;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: .5px;
}

h4{
    margin-left: 5%;
    width: 90%;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}


h5{
    margin-left: 5%;
    width: 90%;
    line-height: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

h6{
    margin-left: 5%;
    width: 90%;
    line-height: 28px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.btn1 {
    width: 160px;
    height: 60px;
    border: none;
    margin-left: 5%;
    color: white;
    background-color: rgb(255,0,68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.5s;
    font-size: 28px;
    outline: none;
}

.btn1:hover {
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;
}

.searchbutton {
    margin-left: 92%;
    position: absolute;
    margin-top: -8.5%;
}

.container {
    position: relative;
    color: white;
}

.overtext {
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    left: 250px;
    top: 200px;
}

.overtext2 {
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    left: 220px;
    top: 465px;
}

.overtext3 {
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    left: 110px;
    top: 720px;
}

.foodpics {
    height: 260px;
    width: 90%;
    display: flex;
    margin: auto;
    object-fit: cover;
    animation-name: fade;
    transition-duration: 1.5s;
}

.regpics {
    height: 260px;
    width: 90%;
    display: flex;
    margin: auto;
    object-fit: cover;
}

.menupics {
    height: 240px;
    width: 90%;
    display: flex;
    margin: auto;
    object-fit: cover;
    animation-name: fade;
    transition-duration: 1.5s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 15px;
    height: 95%;
}

.iconarrow {
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    left: 30px;
}

.iconarrow:before{
    content:"";
    display: inline-block;
    border-radius: 4px;
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    bottom: -5px;
}

.iconarrow:after{
    content:"";
    display: inline-block;
    border-radius: 4px;
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    right: 11px;
    bottom: 5px;
}

.foodpics:hover{
    opacity: 70%;
}

@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media all and (min-width:1440px){
    
    h1{ 
        margin-left: 5%;
        width: 90%;
        color: #fff;
        font-size: 80px;
        line-height: 28px;
        margin-bottom: 5%;
        font-weight: 700;
        margin-top: 5%;
    }
    
    h2{ 
        margin-left: 5%;
        width: 90%;
        color: #fff;
        font-size: 100px;
        line-height: 28px;
        margin-bottom: 5%;
        font-weight: 700;
        margin-top: 5%;
    }

    h3{
        margin-left: 5%;
        width: 90%;
        color: #fff;
        font-size: 56px;
        font-weight: 700;
        letter-spacing: .5px;
    }

    h4{
        margin-left: 5%;
        width: 90%;
        color: #fff;
        font-size: 28px;
        font-weight: 400;
    }    

    h5{
        margin-left: 5%;
        width: 90%;
        line-height: 0;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
    }

    h6{
    margin-left: 5%;
    width: 90%;
    line-height: 64px;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    }
    
    .searchbutton {
        margin-left: 92%;
        width: 2%;
        position: absolute;
        margin-top: -6.5%;
    }

    .regpics {
        height: 550px;
        width: 90%;
        display: flex;
        margin: auto;
        object-fit: cover;
    }

    .overtext {
        position: absolute;
        z-index: 100;
        color: #fff;
        font-size: 124px;
        font-weight: bold;
        left: 1000px;
        top: 200px;
    }
    
    .overtext2 {
        position: absolute;
        z-index: 100;
        color: #fff;
        font-size: 124px;
        font-weight: bold;
        left: 940px;
        top: 465px;
    }
    
    .overtext3 {
        position: absolute;
        z-index: 100;
        color: #fff;
        font-size: 124px;
        font-weight: bold;
        left: 760px;
        top: 720px;
    }

}